@model WebApplication1.Models.Admission
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Admission</h2>
<p>Are you sure you want to delete admission record for <strong>@Model.Patient.FullName</strong>?</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AdmissionId)
    <button type="submit" class="btn btn-danger">Delete</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
}
